
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Inter;
}

img{
    max-width: 100%;
}

header , footer, #hero {
    background-color:#1F61FE;
}

#container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    align-items: center;
    padding-top: 0.75rem;
}

#container-header #logo img{
    height: 3.5rem;
}

#menu-desktop , #login , #desktop-companies{
    display: none;
}

#hero-container{
    width: 90%;
    margin: 0 auto;
    color: white
}

#hero-container #hero-container-text{
    width: 20.9375rem;
    padding-top: 2rem;
}

#hero-container #hero-container-text h2{
    font-weight: 600;
    font-size: 2.25rem;
    letter-spacing: 0.0625rem;
    line-height: 120%;
}

#hero-container #hero-container-text p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-top: 1rem;
}

#hero-container #trial-demo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}

#hero-container #trial-demo button{
    border-radius: 6.25rem;
    width: 11.4375rem;
    height: 3.375rem;
    border: none;
    background-color:#A7F46A ;
    font-weight: 500;
    font-size: 1rem;
}

#hero-container #trial-demo #demo{
    display: flex;
    flex-direction: row;
    column-gap: 0.87rem;
    align-items: center;
}

#hero-container #trial-demo #demo img{
    height: 1.5rem;
}

#hero-container #trial-demo #demo p{
    font-weight: 500;
    font-size: 1rem;
}

#hero-container #tables{
    margin-top: 3rem; 
}

#hero-container #tables img{
    height: 14.6875rem;
}

#hero-waves{
    margin-top: -0.9rem;  
}

 #hero-waves img{
   height: 70px; 
   display: block;
}

#clients-container{
    width: 90%;
    margin: 0 auto;
    color: black
}

#clients-container #clients-container-text{
    margin-top: 3.5rem;  
}

#clients-container #clients-container-text h2{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    width: 20.8125rem;
}

#clients-container #mobile-companies{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    width: 16rem;
    height: 6.302rem;
    margin-top: 2rem;
    justify-content: space-between;
}

.companies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clients-container #mobile-companies .container-logo{
    display: flex;
    width: 7.5rem;
    height: 2.651rem;
    align-items: center;
    justify-content: center;
}

#clients-container #mobile-companies .logo{
    max-width: 100%; 
}

#container-planning{
    width: 90%;
    margin: 0 auto;
    color: black;
    margin-top: 7.01rem;
}

#container-planning .planning-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20.996rem;
    height: 20.062rem;
}

#container-planning .planning-text h2{
    font-weight: 600;
    font-size: 2rem; 
    font-style: Semi Bold;
}

#container-planning .planning-text h5{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    font-style: Bold;
}

#container-planning .planning-text p{
    font-weight: 500;
    color: #7E8492;
    font-size: 0.875rem;
    font-style: medium;
    line-height: 150%;
}


#container-planning #graphics , #second-graphics{
    display: flex;
    width: 335px;
    height: 282px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

 #graphics{
    background-color:#FAFBFA;
}

#graphics img {
    height: 16.36rem ;
}

 #second-graphics{
    background-color: #F5F5F5;
    margin-top: 7rem;
    margin-bottom: 2.5rem;
}

 #second-graphics img{
    height: 16.78rem;
    
}

#comments{
width: 90%;
margin: 0 auto;
}

#container-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20.9375rem;
    height: 21.125rem;
    border-top: 0.0625rem solid #EDEDED ;
    border-bottom: 0.0625rem solid #EDEDED ;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

 #stars{
   display: flex;
   height: 1.5rem; 
   align-self: flex-start;
}

 #comment{
    font-weight: 600;
    font-size: 1.139rem;
    line-height: 120%;
    color: #1E2238;
    font-style: semi bold;
}

#commentator{
    display: flex;
    flex-direction: row;
    width: 17.875rem;
    height: 3.5rem;
     gap: 1rem;
}

#commentator-img img{
    height: 3.5rem;
    border-radius: 100%;
}

 #name-job-commentator{
    width: 214px;
}

#name-commentator{
    font-style: medium;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 500;
    
}

 #job-commentator{
    font-family: sonsie one;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1.25rem;
    font-style: regular;
    color: #80818C;
}

#tips{
    width: 90%;
    margin: 0 auto;
}

#dicas-text{
    margin-bottom: 2.5rem;
}

#container-dicas #dicas-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;  /*Verificar os que precisam de gap*/
}

#dicas-text h2{
    font-weight: 600;
    font-style: semi bold;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -1%;
}

#dicas-text p{
    font-weight: 500;
    font-style: medium;
    font-size: 1rem;
    line-height: 1.625rem ;
    color: #7E8492;
}

#cards{
    display: flex;
    flex-direction: column;
     width: 20.9375rem;
     gap:2rem;
}

.card{
    display: flex;
    flex-direction: column;
    height: 34.75rem;
    gap:1rem;
}

#cards > .card:nth-child(2){
    height: 31.5rem ;
}

 .card img{
 height: 22.1875rem;
 border-radius: 1rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.card-body h4{
    font-weight: 600;
    font-style: semi bold;
    font-size:1.5rem ;
    line-height: 130%;
    letter-spacing: 0.016rem;
    vertical-align: middle;
    color:#1D1E25;
}

.card-body p{
    font-weight: 500;
    font-style: medium;
    font-size: 0.875rem;
    line-height: 150%;
    vertical-align: middle;
    color: #7E8492;
}