.inter {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

.sora {
  font-family: "Sora", sans-serif;
  font-weight: 100;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter';
}

img{
    max-width: 100%;
}

header , #container-free-trial, #hero {
    background-color:#1F61FE;
}

#menu-desktop , #desktop-companies, #login{
    display: none;
}

/*Header*/

#header{

#container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 89.336vw;
    align-items: center;
    padding-top: 0.75rem;
    height: 4.25rem;
}

#logo{
    width: 31.9955vw;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo img{  
    display:block;
    height: auto;
}

#menu-mobile{
    height: 1.5rem;
}
}

/*section hero*/

#hero{
#hero-container{
    width: 90%;
    margin: 0 auto;
    color: white;
}

 #hero-text{
    width: 89.33193vw;
    padding-top: 2rem;
}

 #hero-text h2{
    font-weight: 600;
    font-size: 2.25rem;
    letter-spacing: 0.0625rem;
    line-height: 120%;
}

 #hero-text p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-top: 1rem;
    color: #EDEDED;
}

#trial-demo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}

#trial-demo button{
    border-radius: 6.25rem;
    width: 48.79923vw;
    height: 3.375rem;
    border: none;
    background-color:#A7F46A ;
    font-weight: 500;
    font-size: 1rem;
}

#demo{
    display: flex;
    flex-direction: row;
    column-gap: 0.87rem;
    align-items: center;
}

 #demo img{
    height: 1.5rem;
}

 #demo p{
    font-weight: 500;
    font-size: 1rem;
}

 #tables{
    margin-top: 3rem;
}

 #tables img{
    height: 14.6875rem;
}

#hero-waves{
    margin-top: -0.9rem;  
    width: 100vw;
    max-height: 269px;
    min-height: 70px;
}

 #hero-waves img{
    max-height: 269px;
    min-height: 70px;
}
}

/*section clients*/

#clients{

#clients-container{
    width: 90vw;
    margin: 0 auto;
}

 #clients-text{
    margin-top: 3.5rem;  
}

 #clients-text h2{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    width: 88.798661vw;
    letter-spacing: 0.00625rem;
    line-height: 120%;
    height: 7.125rem;
    color:#1D1E25;
}

#mobile-companies{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    width: 68.2656vw;
    height: 6.302rem;
    margin-top: 2rem;
    justify-content: space-between;
}

.companies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-logo{
    display: flex;
    width: 31.9995vw;
    height: 2.651rem;
    align-items: center;
    justify-content: center;
}

.logo{
    max-width: 100%;
}
}

/*section planning*/

#planning{

#container-planning{
    width: 90vw;
    margin: 0 auto;
    color: #1D1E25;
    margin-top: 7.01rem;
}

 .planning-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 89.581533vw;
    height: 20.062rem;
}

 h2{
    font-weight: 600;
    font-size: 2rem;
}

 h5{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
}

 p{
    font-weight: 500;
    color: #7E8492;
    font-size: 0.875rem;
    line-height: 150%;
}

 .graphics {
    display: flex;
    width: 89.33193vw;
    height: 17.625rem;
    border-radius:0.75rem;
    align-items: center;
    justify-content: center;
}

#text-graphics .graphics{
    margin-top: 2rem;
    background-color:#FAFBFA;
}

#text-graphics .graphics img {
    height: 16.36rem;
}

#second-text-graphics .graphics{
    background-color: #F5F5F5;
    margin: 7rem 0 2.5rem 0;
}

#second-text-graphics .graphics img{
    height: 16.78rem;  
}
}

/*section comments*/

#comments{
width: 90vw;
margin: 0 auto;

#container-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 89.33193vw;
    height: 21.125rem;
    border-top: 0.0625rem solid #EDEDED ;
    border-bottom: 0.0625rem solid #EDEDED ;
    margin: 7rem 0 7rem 0;
}

 #stars{
   display: flex;
   height: 1.5rem;
   align-self: flex-start;
}

 #comment{
    font-weight: 600;
    font-size: 1.139rem;
    line-height: 120%;
    color: #1E2238;
}

#commentator{
    display: flex;
    flex-direction: row;
    width: 76.2654vw;
    height: 3.5rem;
    gap: 1rem;
}

#commentator img{
    height: 3.5rem;
    border-radius: 100%;
}

 #name-job-commentator{
    width: 57.0657vw;
}

#name-commentator{
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 500;
}

 #job-commentator{
    font-family: 'sonsie one';
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #80818C;
}
}

/*section tips*/

#tips{
    width: 90%;
    margin: 0 auto;

#tips-text{
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;  /*Verificar os que precisam de gap*/
}

h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -1%;
}

#tips-text p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem ;
    color: #7E8492;
}

#cards{
    display: flex;
    flex-direction: column;
    width: 89.33193vw;
    gap:2rem;
}

.card{
    display: flex;
    flex-direction: column;
    height: 34.125rem;
    gap:1rem;
}

#cards >.card:first-child{
    height: 34.75rem;
}

#cards > .card:nth-child(2){
    height: 31.5rem ;
}

.card img{
 height: 22.1875rem;
 border-radius: 1rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

h4{
    font-weight: 600;
    font-size:1.5rem ;
    line-height: 130%;
    letter-spacing: 0.016rem;
    vertical-align: middle;
    color:#1D1E25;
}

p{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 150%;
    vertical-align: middle;
    color: #7E8492;
}

span{
    display: none;
}
}

/*free-trial*/

#free-trial{
    width: 90%;
    margin: 0 auto;

#container-free-trial{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 31.875rem ;
    width: 89.33193vw;
    border-radius: 1.25rem;
    background-image: url("/images/fundo-trial.svg");
    background-repeat: no-repeat;
    background-size: 100% 17.286875rem;
    background-position: calc(100% - 1rem) calc(100% - 1.21rem);
    padding: 0 1rem;
    margin-top:3.94rem;
}

#text-information{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

#text{
    display: flex;
    flex-direction: column;
    height: 14.625rem;
    gap: 1.5rem;
}

#text h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.04rem;
    color:#FFFFFF;
}

#text p{
    font-weight: 500;
    font-size: 1.135rem;
    line-height: 2rem;
    text-align: center; /*Verificar pq a letra ficou mais grossa doq deveria*/
    color: #EDEDED;
}

#information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    text-align: center;  /*colocar as bordas*/
}

#information p{
    display: flex;
    align-items: center;
    width: 24.08762vw;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: #EDEDED;
}

#requestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 8.125rem;
   
}

#requestion #request{
    width: 38.13273vw;
    height: 3.375rem;
    border-radius: 6.25rem;
    padding-top:0.875rem;
    padding-right: 1.25rem;
    padding-bottom: 0.875rem;
    padding-left: 1.25rem;
    gap:0.625rem;
    background-color: #A7F46A;
}

#requestion #request p{
    font-weight: 700;
    font-size: 1rem;
    line-height:1.625rem;
    text-align: center;
    color:#1D1E25;
}

#email{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 80.798735vw;
    height: 3.25rem;
    gap:0.5rem;
    border-radius: 6.25rem;
    padding:1rem;
    border: 0.0625rem solid #D6D6D6;
    background-color: #FFFFFF;
}

#email img{
   height: 0.729375rem;
    display: flex;
    align-self: center;
}

#email p{
display: flex;
font-weight: 500;
font-size: 0.875rem;
line-height: 1.25rem;
color: #878787;
align-self: center;
}
}

/*footer*/

footer{
 background-color: #1D1E25;
 margin-top: 3.5rem;

#container-footer{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    padding-top: 3.5rem;
}

#footer-brand{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 89.33193vw;
    height: 13.875rem;
}

#footer-brand h3{
    width: 87.9986vw;
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -1%;
}

#contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.5rem;
}

#location{
    display: flex;
    flex-direction: row;
    width: 85.332vw;
    height: 3.25rem;
    gap: 0.875rem;
    align-items: center;
}

#location img{
    height: 2.875rem;
}

#location p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

#email{
    display: flex;
    flex-direction: row;
    align-items: center;
   width: 45.59928vw;
   height: 2.875rem;
   gap:0.875rem;
}

#email img{
    height: 2.875rem;
}

#email p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

#footer-middle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 18rem;
}

#logo-footer{
    margin-top:4.88rem;
    margin-bottom: 2.5rem;
}

#informative-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 65.06565vw;
    height: 4.25rem;
    row-gap: 1rem;
    column-gap: 2.56rem;
    margin-bottom: 1rem;
}

#informative-icons p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
    justify-content: space-between;
}

#social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.5327vw;
    height: 1.25rem;
}

#social img{
    height: 1.25rem;
}

#footer-end{
    width: 85.332vw;
    height: 9.75rem;
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    border-top: 0.0625rem solid #7E8492;
}

#terms{
    display: flex;
    flex-direction: row;
    width: 78.9321vw;
    gap:2.5rem;
    padding-top: 1.5rem;
}

#terms p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
}

#credits{
    margin-top: 1.5rem;
}

#credits p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}
}

@media (min-width: 1180px){

header{
    #container-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 7.125rem;
        padding-top:3.1rem;
    }

    #logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 9.721vw!important;
        height: 4.125rem!important;  
    }

    #logo img{
     height: 4.125rem !important;
    }

    #menu-mobile{
        display: none;
    }

    #menu-desktop{
        display: flex;
        flex-direction: row;
        width: 23.40043vw;
        height: 1.625rem;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
        gap:2rem;
        margin-right: 13.19868vw;
        margin-left: 21.17566vw;
    }

        #menu-desktop a {
        color: inherit;
        text-decoration: none;
    }

    #menu-desktop p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.625rem; /*ver com o professor pq as fontes ficam mais grossas*/
    }

    #login{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 15.62343vw!important;
        height: 3.375rem;
        color: #FFFFFF;
    }

    #login #sign-in{
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.625rem;  
    }

    #login button{
        padding:1rem 1.5rem;
        gap:0.625rem;
        border-radius: 6.25rem;
        background-color: transparent;
        border: 0.0625rem solid #D5DAE1;
        font-family: 'Sora';
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-align: center;
        color:#FFFFFF;
        height: 3.375rem;
        width: 10.77vw;
    }
}

/*section hero*/

#hero{

    #hero-container{
        padding-left:3rem;
        padding-right: 3rem;
        padding-top:4.5rem;
    }
    #hero-text{
        width: 68.882vw!important;
        height: 23.625rem;
        padding:0rem!important;
        gap:1.5rem;
    }

    #hero-text h2{
        font-family: 'Plus Jakarta Sans';
        font-weight: 700;
        font-size: 4.5rem !important;
        line-height: 120% ;
        letter-spacing: -1%;
    }

    #hero-text p{
        width: 41.107vw;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
        color: #EDEDED;
    }

    #trial-table{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #trial-demo{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 25.34468vw;
        height: 3.375rem;
        margin-top:5rem;
        padding:0rem !important;
    }
   
#trial-demo button{
    width: 183px;
}

    #tables{
        margin-top: -10rem !important;
        width: 42.49575vw;
        height: 29.94rem;
        position: relative;
        z-index: 2;
    }

    #tables img{
    height: 29.94rem !important;
    }
       
    #hero-waves{
        margin-top: -11.6rem;
        width: 100vw;
        height: 16.8125rem!important;
    }

    #hero-waves img{
        height: 16.8125rem!important;
        border-radius: 0.125rem;
    }
    }
    /*section clients*/

    #clients{
        display: flex!important;
       justify-content: center!important;
       width: 99.99vw;
       height: 30.375rem;
       margin-top: -4rem;
    

    #clients-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between!important;
        align-items: center !important;
        width: 66.38225vw;
        height: 23.375rem;
        row-gap:3.5rem;
    }

    #clients-text{
        width:63.327vw;
        height: 8.375rem;
    }

    #clients-text h2{
        width:63.327vw!important;
        height: 8.375rem!important;
        font-weight: 600;
        font-size: 3.5rem!important;
        line-height: 120%;
        color:#1D1E25;
        letter-spacing: -1%;
    }

    #mobile-companies{
        display: none !important;
    }

    #desktop-companies{
        width: 66.38225vw;
        height:11.5rem;
        display: flex;
        flex-wrap: wrap;
        gap:2rem;  
        align-items: center;
        justify-content: center;
    }

     #desktop-companies .container-logo-desktop{
    display: flex!important;
    width: 14.92906vw;
    height: 4.75rem;
    align-items: center!important;
    justify-content: center; /* Arrumar pois o container n sobe*/  
     }
    }
     /*section planning*/

     #planning{
        display: flex;
        flex-direction: column;
        height: 89rem;
        margin-top: 7rem!important;
     
     #container-planning{
        display: flex;
        flex-direction: column;
        gap:7rem;
        margin:0rem;    
     }
   
    #text-graphics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 84.36656vw;
        height: 30.5rem;
        gap:3.125rem;
        margin-left: 7.81033vw;
        margin-right: 7.7325vw;
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40.6903vw!important;
        height: 22.6875rem!important;
    }

    .graphics{
    display: flex;
    margin:0rem!important;
    width: 40.20431vw!important;
    height: 30.5rem!important;
    border-radius:1.5rem ;
    }

     #text-graphics .graphics{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FAFBFA;
     }

    #text-graphics img{
        height: 28.31rem!important;
    }

     h2{
        width: 40.6903vw;
        height: 12.5625rem;
        font-weight: 600;
        font-size: 3.5rem!important;
        line-height: 120%;
        letter-spacing: -1%;
        color:#1D1E25;
    }

    h5{
        width: 38.3295vw;
        height: 2.75rem;
        font-weight: 600;
        font-size: 1.125rem!important;
        line-height: 120%!important;
        color:#1D1E25;
    }

    p{
        width: 39.64881vw!important;
        height: 4.875rem!important;
        font-weight: 400!important;
        font-size: 1rem!important;
        line-height: 1.625rem!important;
        color:#7E8492;
    }

    #second-text-graphics{
        width: 100vw;
        height: 44.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FAFBFA;
    }

    #second-text-graphics #container{
         display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 83.325vw;
        height: 30.5rem;
        gap:3.125rem;
    }

    .planning-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:  39.64881vw;
    height: 22.6875rem;
}


    #second-text-graphics .graphics{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40.20431vw!important;
        height: 30.5rem!important;
        border-radius:1.5rem;
        background-color: #F5F5F5;
    }

    #second-text-graphics img{
        height: 29rem!important;
    }
     }

/*section comments*/

#comments{
    margin:0rem;
    width: 100vw;
    height: 35.625rem;
    padding:5rem 7.5rem;


#container-comments{
    width: 83.325vw;
    height: 25.625rem;
    gap:1.9375rem;
    margin:0rem;
}

#comment{
    width: 83.325vw;
    height: 12rem;
    font-weight: 600;
    font-size: 2.5rem;
    color:#1D1E25;
    line-height: 120%;
}

#commentator{
    width: 25.830vw;
}
   
#name-commentator{
    width: 15.90118vw;
    height: 2rem;
    font-weight: 600!important;
    font-family: 'Sora';
    font-size:1.5rem;
    line-height: 2rem;
    color:#1E2238;
}

#job-commentator{
    width:20.83125vw;
    height: 1.25rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color:#80818C;
}

#name-job-commentator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    width: 20.83125vw;
}
}
/*section tips*/

#tips{
    display: flex;
    width: 100vw;
    height: 69rem;
    margin:0rem!important;
    justify-content: center;
    align-items: center;

#container-tips{
     margin: 7.5rem 7.77vw;
     flex-direction: column;
     justify-items: center!important;
     align-items: center!important;
}

#tips-text{
    display: flex;
    align-items: center!important;
    justify-items: center!important;
    margin-bottom: 3.5rem;
    width: 64.92406vw;
    height:13.875rem;
    gap:1.5rem!important;
    text-align: center;
}

#tips-text h2{
   font-weight: 600;
   font-size: 3.5rem;
   line-height: 120%;
   letter-spacing: -1%;
   color:#1D1E25;
}

#tips-text p{
    width: 42.218vw;
    font-weight: 500;
    font-size:1.125rem;
    line-height: 2rem;
    color:#7E8492;
}

#cards{
    flex-direction: row;
    width: 83.325vw;
    height: 37.625rem;
}

.card{
    width: 26.316812vw;
    height: 37.625rem !important;
    gap:1rem;
}

#cards > .card:nth-child(2){
    height: 37rem;

    p{
        display: none;
    }

    span{
        width: 24.71975vw;
    }
}

#cards > .card:nth-child(3){
    width: 26.24737vw;
    height: 35.6875rem;


     p{
        display: none;
    }

    .card-img{
        width: 26.24737vw;
    }
}

.card-img{
    width: 26.316812vw;
    height: 25.875rem;
}

.card-img img{
    height:25.875rem;
}

.card-body{
    gap:1rem;
}

span{
    display: flex;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 150%;
    color:#7E8492;
}
}

/*section free-trial*/

#free-trial{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 39.1875rem;

#container-free-trial{
    width: 94.435vw;
    height: 29.1875rem;
    border-radius: 2.5rem;
    margin:5rem 2.7775vw;
    justify-content: center;
    align-items: center;
    padding:0rem;
    background-position:calc(100% - 31rem) calc(100% - 1.53rem); ;
}


#text{
    width: 54.3001vw;
    height: 11.875rem;
    gap:1.5rem;
    align-items: center;
}

#text h2{
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 120%;
    letter-spacing: -1%;
    text-align: center;
}


#text p{
    width: 42.7735vw;
    height: 2rem;
    font-weight: 500;
    font-size:1.125rem;
    line-height: 2rem;
    text-align: center;
}


#information{
    display: flex;
    width: 29.997vw;
    height: 1.625rem;
   
}


.info{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
}

.info{

}

#information>.info:first-child{
    width: 40.038vw;
}

#information>.info:nth-child(2){
    width: 31.4755vw;
}


#text-information{
    align-items: center;
    gap:1rem;
}


#requestion{
    flex-direction: row;
    width: 34.3021vw;
    height: 3.375rem;
    margin-top: 3.56rem!important;
}
}

/*footer*/


#footer{
    margin:0rem;
    height: 32.875rem;

#container-footer{  
    height: 32.875rem;
    padding: 0rem;
    margin:0rem;    
}


#footer-brand{
    flex-direction: row;
    width: 84.436vw;
    height: 10.75rem;
    align-items: center;
    gap:8.375rem;
    margin: 4.25rem 7.777vw;
}


#footer-brand h3{
    width: 52.91137vw;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 120%;
    letter-spacing: -1%;
    gap:29.5625rem;
}

#footer-contact-info{
    width: 20rem;
    height: 122px;
    gap:1.5rem
}


#location{
    width: 20rem;
}


#contact-info #email{
    width: 171px;
}

#footer-middle{
    display: flex;
    width: 84.436vw;
    height: 4.125rem;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin-left:7.777vw;
    margin-right: 7.777vw;
}

#informative-icons{
    width: 31.2468vw!important;
    height: 1.625rem;
    gap:2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    margin:0rem;
}

#logo-footer{
    margin: 0rem;
}

 #social{
    width: 10.5545vw;
}

#footer-end{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 83.4583vw;
    margin-right: 8.53248vw;
    margin-left: 8.3325vw;
    margin-top: 2.56rem;
    border-top: 0.125rem solid #7E8492;
}

#terms{
    width: 20.62293vw;
    height: 1.625rem;
    padding: 0rem !important;
}

#terms p{
    font-weight: 400;
    line-height: 1.625rem;
}

#credits{
    margin:0rem;
}

#credits p{
    width: 15.623437vw;
}
}
}